<main class="dashboard-container">

  <aside class="menu-lateral" [class.aberto]="menuAberto">

    <div class="logo-container">
      <img src="http://localhost:3001/img/ford.png" alt="Ford">
    </div>

    <nav>

      <a routerLink="/home" class="menu-item" (click)="fecharMenu()">
        <span>⌂</span>
        Home
      </a>

      <a routerLink="/dashboard" class="menu-item ativo" (click)="fecharMenu()">
        <span>▣</span>
        Dashboard
      </a>

    </nav>

  </aside>

  <section class="conteudo-dashboard">


    <header class="topo-dashboard">

      <button class="menu-mobile" (click)="abrirMenu()">
        ☰
      </button>

      <h1>Dashboard FORD</h1>

      <button class="btn-sair" (click)="logout()">
        Sair
      </button>

    </header>

    <section class="area-superior">

      <div class="seletor-container">

        <label for="veiculo">
          Veículo
        </label>

        <select id="veiculo" [(ngModel)]="nomeVeiculo" (change)="mudarVeiculo()">

          <option value="" disabled>
            Selecione o veículo
          </option>

          <option *ngFor="let veiculo of veiculos" [value]="veiculo.vehicle">
            {{ veiculo.vehicle }}
          </option>

        </select>

      </div>


      <div class="card-dashboard">

        <span class="card-titulo">
          Total de Vendas
        </span>

        <strong>
          {{ veiculoSelecionado?.volumetotal | number }}
        </strong>

        <small>
          Unid.
        </small>

      </div>


      <div class="card-dashboard">

        <span class="card-titulo">
          Conectados
        </span>

        <strong>
          {{ veiculoSelecionado?.connected | number }}
        </strong>

        <small>
          Unid.
        </small>

      </div>


      <div class="card-dashboard">

        <span class="card-titulo">
          Update Software
        </span>

        <strong>
          {{ veiculoSelecionado?.softwareUpdates | number }}
        </strong>

        <small>
          Unid.
        </small>

      </div>

    </section>


    <section class="veiculo-container">

      <img *ngIf="veiculoSelecionado" [src]="veiculoSelecionado.img" [alt]="veiculoSelecionado.vehicle"
        class="imagem-veiculo">

      <h2>
        {{ veiculoSelecionado?.vehicle }}
      </h2>

    </section>


    <section class="tabela-container">

      <table>

        <thead>

          <tr>

            <th>Código - VIN</th>

            <th>Odômetro</th>

            <th>Nível de Combustível</th>

            <th>Status</th>

            <th>Lat.</th>

            <th>Long.</th>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td>2FRHDUYS2Y63NHD22454</td>

            <td>23.344 Km</td>

            <td>76%</td>

            <td>ON</td>

            <td>-12.2322</td>

            <td>-35.2314</td>

          </tr>

        </tbody>

      </table>

    </section>

  </section>

</main>